.card{
    margin-top: 10px;
   
}

/* #cardstyle{
    margin: 10px;
    
} */

.poi{
    padding: 10px;
}

.card a {
    color: #000;
    text-decoration: none;
}

a:hover 
{
     color:#0060B6; 
     text-decoration:none; 
     cursor:pointer;  
}
